
@{
    ViewData["Title"] = "ErrorPage";
}
<div class="container">
    <div class="alert-success mt-4 p-3">
        <h4>Session timeout!</h4>
        <p>Your Session had timedout please Login to apply again.</p>
    </div>
</div>



