@model CudJobUI.ViewModels.ForgotPassword

@{
    ViewData["Title"] = "PasswordReset";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="container mb-md-5 p-5 mt-5">

    <h2 class="mt-5 shortheading">Password Reset</h2>    
    <hr />
    <div class="row mb-md-5">
        <div class="col-12">
            <form asp-action="PasswordReset" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col col-12 col-md-5">
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control w-100" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col col-12 col-md-2">
                        <div class="form-group">
                            <input type="submit" value="retrieve Info" class="btn btn-danger" style="margin-top:30px;" />
                        </div>
                    </div>
                </div>             
              
            </form>
        </div>
    </div>  

</div>

