@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container container-fluid">
    <div class="alert alert-success" role="alert">
        <h4>Thank You!</h4>
        <p>Company is been Approved, an detailed Email notification has been send to the company.</p>
        <p>
            <a href="@Url.Action("CompanyforApproval","Company")" class="btn btn-danger p-3">Go Back to Approve List</a>
            <a href="@Url.Action("Index","Admin")" class="btn btn-danger p-3">Go Back to Home</a>
        </p>
    </div>
</div>
