@model IEnumerable<CudJobUI.ViewModels.JobApplyDetailsBystudent>
@{
    ViewData["Title"] = "Jobs Applied";
    //Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}

<div>
    <partial name="_AppliedJobsPartial" model="Model" />
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            $('#example').DataTable();
        });
    </script>
}

